name: Forge Tests

on:
  pull_request:
  push:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      FOUNDRY_PROFILE: ci
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install Foundry (forge)
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly

      - name: Run tests
        shell: bash
        run: |
          set -euxo pipefail
          which forge
          forge --version
          forge fmt --check
          forge build
          forge test -vvv
          forge test -vvv --fuzz-runs 5000
